header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 15px;
}



.logo {
  width: 60px;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer {
  width: 90%;
  margin: auto;
  padding: 2rem;
}

footer a {
  text-decoration: none;
  color: gray;
}
