* {
  box-sizing: border-box;
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 15px;
}

.logo {
  width: 60px;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#meals {
  width: 100%;
  margin: auto;
}

.meal-cards {
  width: 90%;
  margin: auto;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  column-gap: 10px;
  row-gap: 30px;
}

.card-image img {
  width: 250px;
}

h2 {
  font-size: 18px;
}

.second-part {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  margin-left: 25px;
  margin-bottom: 10%;
}

footer {
  width: 90%;
  margin: auto;
  padding: 2rem;
}

footer a {
  text-decoration: none;
  color: gray;
}
